.menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 40px;
  list-style: none;
}

.menu__item {
  z-index: 1;
}

.menu__item_link {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.menu__item:hover {
  transform: scale(110%);
}

.menu__item-main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.menu__item-icon {
  margin-right: -8px;
  position: relative;
  bottom: -8px;
  z-index: 1;
}
